.loading {
  display: flex;
  background-color: #efefef;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: rem(14);
}

.fail {
  display: flex;
  background-color: #dedede;
}
