.hehe {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.header {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #333;
  color: #fff;
}

.body {
  font-size: 15px;
  color: #333;
}

body {
  background-color: #efeff5;
  margin: 0;
}
