@function rem($value) {
  @return ($value / 2) / 14 * 1rem;
}

.hehe {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.header {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #333;
  color: #fff;
}

.body {
  font-size: 15px;
  color: #333;
}

.person {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  background-color: #fff;
  padding: 15px;
}

.person-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.person-avatar {
  height: 96px;
  width: 96px;
  background-size: 100% 100%;
  border-radius: 48px;
}

.person-name {
  font-size: 18px;
  color: #333;
  margin-top: rem(20);
}

:global(.loading) {
  display: flex;
  position: absolute;
  height: 188px;
  width: 188px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: #efeff5;
  margin: 0;
}

.empty-page {
  height: 100vh;
  width: 100vw;
  background-color: #fbfbfb;
}

.reload {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.person-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.person-right-row1 {
  display: flex;
  flex-direction: row;
  font-size: rem(40);
  color: #666;
}

.person-right-row2 {
  display: flex;
  flex-direction: row;
  font-size: rem(30);
  color: #333;
}