.hehe {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-bottom: rem(100);
}

.header {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #333;
  color: #fff;
}

.switch1 {
  display: flex;
  position: absolute;
  top: rem(50);
  left: rem(30);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switch-icon {
  font-size: rem(24);
  color: #fff;
}

.switch-text {
  font-size: rem(22);
  color: #fff;
}

.body {
  font-size: 15px;
  color: #333;
}

.person {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  background-color: #fff;
  padding: 15px;
}

.person-left {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 rem(15);
}

.person-avatar {
  height: 96px;
  width: 96px;
  background-size: 100% 100%;
  border-radius: 48px;
}

.person-name {
  font-size: rem(30);
  color: #666;
  margin-top: rem(20);
  word-break: break-all;
}

.pro-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: rem(8);
}

.pro-name {
  font-size: rem(26);
  color: #333;
  margin-right: rem(4);
}

.pro-icon {
  color: cornflowerblue;
  margin-right: rem(8);
  margin-left: rem(4);
}

:global(.loading) {
  display: flex;
  position: absolute;
  height: 188px;
  width: 188px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: #efeff5;
  margin: 0;
}

.empty-page {
  height: 100vh;
  width: 100vw;
  background-color: #fbfbfb;
}

.reload {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.person-right {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.person-right-row1 {
  display: flex;
  flex-direction: row;
  font-size: rem(40);
  color: #666;
}

.person-right-row2 {
  display: flex;
  flex-direction: row;
  font-size: rem(30);
  color: #333;
}

.person-right-small {
  display: flex;
  flex-direction: row;
  font-size: rem(24);
  color: #666;
}

.no-such {
  height: rem(230);
  width: rem(220);
  background-size: 99% 99%;
  margin-bottom: rem(20);
}

.hint {
  font-size: rem(28);
  color: #666;
  margin-bottom: rem(35);
}

.btn-go {
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(20);
  color: #fff;
  font-size: rem(26);
  letter-spacing: rem(2);
  padding: rem(15);
}
