.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: rem(1) solid rgba(222, 222, 222, 0.7);
  padding: rem(20);
}

.avatar {
  width: 15%;
  height: rem(64);
  width: rem(64);
  background-size: 100% 100%;
}

.name {
  width: 35%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: rem(26);
  color: #333;
}

.id {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-size: rem(22);
  color: #666;
  word-break: break-all;
}


