.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: rem(1) solid rgba(222, 222, 222, 0.7);
  padding: rem(20);
}

.hero-icon {
  height: rem(72);
  width: rem(128);
  background-size: 100% 100%;
  margin-right: rem(25);
}
.name {
  width: 35%;
  justify-content: flex-start;
  align-items: center;
  font-size: rem(22);
  color: #333;
}

.score {
  display: flex;
  width: 15%;
  justify-content: flex-start;
  align-items: center;
  font-size: rem(18);
  color: #666;
  word-break: break-all;
}

.history {
  display: flex;
  width: 15%;
  justify-content: flex-start;
  align-items: center;
  font-size: rem(14);
  color: #666;
  word-break: break-all;
}

.win {
  display: flex;
  width: 15%;
  justify-content: center;
  align-items: center;
  font-size: rem(16);
  font-weight: bold;
  background-color: mediumseagreen;
  color: #fff;
  height: rem(30);
  width: rem(30);
}

.lose {
  display: flex;
  width: 15%;
  justify-content: center;
  align-items: center;
  font-size: rem(16);
  font-weight: bold;
  background-color: #bbb;
  color: #fff;
  height: rem(30);
  width: rem(30);
}


