.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: rem(1) solid rgba(222, 222, 222, 0.7);
  padding: rem(20);
}

.hero-icon {
  height: rem(72);
  width: rem(128);
  background-size: 100% 100%;
  margin-right: rem(25);
}
.name {
  width: 35%;
  justify-content: flex-start;
  align-items: center;
  font-size: rem(26);
  color: #333;
}

.team {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-size: rem(22);
  color: #666;
  word-break: break-all;
}


