
.page {
  width: 100vw;
  background-color: #fbfbfb;
  padding-top: rem(100);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: rem(100);
  background-color: #333;
  justify-content: center;
  align-items: center;
  font-size: rem(30);
  letter-spacing: rem(1);
  color: #fff;
  z-index: 100;
}

.back {
  position: absolute;
  top: rem(40);
  left: rem(25);
  font-size: rem(26);
  color: #fff;
}

.dash-board {
  display: flex;
  background-color: #333;
  color: #fff;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: rem(20);

  .dash-item {
    width: 50%;
    font-size: rem(24);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: rem(15);

    .name {
      color: #999
    }

    .value {
      margin-left: rem(12);
      color: #fff;
    }
  }
}

.league-block {
  margin-top: rem(20);
  display: flex;
  flex-direction: column;
  width: 100%;

  .radiant {
    display: flex;
    padding: rem(10);
    justify-content: flex-start;
    align-items: center;
    background: -webkit-linear-gradient(135deg,#fff, rgb(45, 167, 45));
    // background-color: rgb(45, 167, 45)
  }

  .dire {
    display: flex;
    padding: rem(10);
    justify-content: flex-start;
    align-items: center;
    background: -webkit-linear-gradient(135deg,#fff, rgb(168, 50, 50));
    // background-color: rgb(168, 50, 50) 
  }
}

.league-block-title {
  font-size: rem(22);
  color: #fff;
  margin-right: rem(30);
}

.league-block-result {
  font-size: rem(34);
  color: #fff;
}

.score {
  padding: rem(20) rem(20);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;

  .coma {
    font-size: rem(40);
    color: #333;
  }

  .rd {
    background-color: rgb(45, 167, 45);
  }

  .dr {
    background-color: rgb(168, 50, 50);
  }
}

.score-border-item {
  width: rem(40);
  height: rem(60);
  font-size: rem(38);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0 rem(2);
}

.group-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: rem(22);
  color: #666;

  .top {
    margin-bottom: rem(5);
  }
}
