.map-frame {
  display: block;
  position: relative;
  margin-bottom: rem(30);
  justify-content: center;
  align-items: center;
  // margin-left: 25px;
  min-width: 0;
  min-height: 0;
}

.heatmap {
  // background-size: 100% 100%;
  z-index: 10;
}

.map {
  // background-size: 100% 100%;
  z-index: 1;
}


