
.page {
  width: 100vw;
  background-color: #fbfbfb;
  padding-top: rem(180);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: rem(100);
  background-color: #333;
  justify-content: center;
  align-items: center;
  font-size: rem(30);
  letter-spacing: rem(1);
  color: #fff;
}

.back {
  position: absolute;
  top: rem(40);
  left: rem(25);
  font-size: rem(26);
  color: #fff;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: rem(60);
  background-color: #efeff5;
  width: 100%;
  font-size: rem(20);
  color: #333;

  .tt1 {
    display: flex;
    justify-content: center;
    width: 42%;
  }

  .tt2 {
    display: flex;
    justify-content: center;
    width: 18%;
  }
  .tt3 {
    display: flex;
    justify-content: center;
    width: 30%;
  }
}

.unselect {
  position: fixed;
  top: rem(100);
  left: 0;
  display: flex;
  width: 100%;
  height: rem(80);
  background-color: #fff;
  justify-content: center;
  align-items: center;
  font-size: rem(26);
  color: #333;

  .icon {
    color: deepskyblue;
    margin-right: rem(6);
  }

  .left {
    display: flex;
    height: rem(80);
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 49.5%;
    border-right: solid rem(1) rgba(200,200,200,0.7);
  }

  .right {
    display: flex;
    height: rem(80);
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}


//dialog
.loading-dialog {
  width: 100%;
  height: rem(150);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
}

.dialog-content {
  width: 100%;
  height: rem(150);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dialog-avatar-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dialog-info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: rem(26);
}

.dialog-info-data {
  color: orangered;
  font-size: rem(28);
}

.dialog-avatar {
  height: rem(64);
  width: rem(64);
  background-size: 100% 100%;
  margin-right: rem(10);
}