
.page {
  width: 100vw;
  background-color: #fbfbfb;
  padding-top: rem(100);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: rem(100);
  background-color: #333;
  justify-content: center;
  align-items: center;
  font-size: rem(30);
  letter-spacing: rem(1);
  color: #fff;
  z-index: 100;
}

.back {
  position: absolute;
  top: rem(40);
  left: rem(25);
  font-size: rem(26);
  color: #fff;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: rem(20);
  height: rem(60);
  font-size: rem(30);
  color: #666;

  .icon {
    display: block;
    height: rem(50);
    width: rem(50);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: rem(8);
  }
}


.wardmap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .overflow {
    display: block;
    width: 100vw;
    position: relative;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    // min-width: 0;
    // min-height: 0;
  }
}