.block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: rem(10) rem(10);
  font-size: rem(20);
  color: #333;
  border-bottom: solid rem(1) rgba($color: #ccc, $alpha: 0.7);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.up-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-icon {
  height: rem(72);
  width: rem(128);
  background-size: 100% 100%;
  margin-right: rem(10);
}

.left-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: rem(10);

  .left-info-row1 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

    .lvl {

      .level-label {
        font-size: rem(14);
        color: deepskyblue;
        font-weight: normal;
      }
      display: flex;
      align-items: center;
      width: 24%;
      font-size: rem(22);
      font-weight: bold;
      color: #333;
    }

    .name-rd {
      display: block;
      width: 76%;
      font-size: rem(22);
      color: rgb(30, 138, 30);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  
    .name-dr {
      display: block;
      width: 76%;
      font-size: rem(22);
      color: rgb(136, 43, 43);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

  }

  .row-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .row-bottom-info-left {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }

    .row-bottom-info-right {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
    }

    .info-data {
      font-size: rem(16);
      color: #666;
    }
  }
}

.item-block {
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;

  .item {
    display: block;
    width: rem(63.75);
    height: rem(46.5);
    background-size: 100% 100%;
    margin: rem(2);
  }
}

.extension-hide {
  display: flex;
  flex-direction: column;
  height: 0;
  width: 100%;
  border: none;
  visibility: hidden;
  opacity: 0;
  -moz-transition: opacity 0.4s linear;
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  -ms-transition: opacity 0.4s linear;
}

.extension-block-h1 {
  height: rem(500);
}

.extension-block-h2 {
  height: rem(250);
}

.extension-block {
  visibility: visible;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  -moz-transition: opacity 0.4s linear;
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  -ms-transition: opacity 0.4s linear;
}

.ext-title-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .ext-row-left {
    display: flex;
    width: 65%;
  }

  .right-item-img {
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    .item-backpack {
      display: block;
      width: rem(63.75);
      height: rem(46.5);
      background-size: 100% 100%;
      margin: rem(2);
      opacity: 0.4;
    }
  }
}

.ext-info {
  font-size: rem(20);
  color: #333;
}

.data-block-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  .ext-info-group-item {
    display: flex;
    font-size: rem(18);
    color: #333;
    margin-right: rem(40);
    margin-bottom: rem(5);

    .ext-item-name {
      color: #666;
      margin-right: rem(6);
    }
  }
}

.ability {
  display: block;
  width: rem(48);
  height: rem(48);
  background-size: 100% 100%;
  margin: rem(2);

  .ablity-lvl {
    position: relative;
    height: rem(15);
    width: rem(15);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000, $alpha: 0.8);
    font-size: rem(14);
    color: #fff;
  }
}

.profession-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.profession-title {
  font-size: rem(20);
  color: deepskyblue;
  display: flex;
}

.ability-use {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: rem(15);

  .desc {
    font-size: rem(20);
    color: #333;
    margin-left: rem(6);
  }
}