
.page {
  width: 100vw;
  height: 100vh;
  background-color: #fbfbfb;
}

.header {
  display: flex;
  width: 100%;
  height: rem(100);
  background-color: #333;
  justify-content: center;
  align-items: center;
  font-size: rem(30);
  letter-spacing: rem(1);
  color: #fff;
}

.back {
  position: absolute;
  top: rem(40);
  left: rem(25);
  font-size: rem(26);
  color: #fff;
}

.body {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: rem(30);
}

.img {
  display: flex;
  height: rem(400);
  width: rem(600);
  background-size: 100% 100%;
  margin-bottom: rem(20);
}

.text {
  font-size: rem(40);
  color: rgb(15, 21, 48);
  font-weight: bold;
}

.tip {
  font-size: rem(26);
  color: #666;
  margin-top: rem(30);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: rem(60);
}

.input {
  width: 50%;
  border: rem(2) solid #666;
  height: rem(50);
  font-size: rem(28);
  color: #666;
  line-height: rem(50);
  border-radius: rem(15);
  outline: none;
  letter-spacing: rem(1);
  padding: 0 rem(15);

  &::-webkit-input-placeholder {
    color: #aaa;
  }
}

.button {
  margin-left: rem(20);
  font-size: rem(60);
  color: rgb(48, 145, 236)
}

.goPro {
  margin-top: rem(10);
  font-size: rem(23);
  color: dimgray;
  text-decoration: underline;
}

.goSearch {
  margin-top: rem(30);
  font-size: rem(23);
  color: dimgray;
  text-decoration: underline;
}

.codingnet {
  height: rem(120);
  width: rem(375);
  background-size: 100% 100%;
  margin: rem(40);
}